/tsoro_yematatu_ppd Servidor/.idea/
/tsoro_yematatu_ppd Cliente/.idea/
/tsoro_yematatu_ppd Servidor/out/
/tsoro_yematatu_ppd Cliente/out/
/tsoro_yematatu_ppd Cliente/tsoro_yematatu_ppd/out/
/tsoro_yematatu_ppd Servidor/tsoro_yematatu_ppd/out/
/tsoro_yematatu_ppd Servidor/tsoro_yematatu_ppd/.idea/
/tsoro_yematatu_ppd Cliente/tsoro_yematatu_ppd/.idea/
